header{
    position: absolute;
    width : 100%;
    height: 75px;

}

header nav{
    position: absolute;
    left : 50%;
    right: 50%;
    transform: translateX(-50%);
    width : 75%;
    height: 100%;
    border-bottom: 1px solid white;
    z-index: 10;
}

.logo{
    position : absolute;
    top: 50%;
    transform: translateY(-50%);
}

header nav ul{
    position: absolute;
    top     : 50%;
    bottom  : 50%;
    right   : 0;
}

header nav ul li{
    display: inline-block;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    padding: 30px 20px;
}

header nav ul li:last-child{
    padding-right: 0
}

header nav ul li a{
    text-decoration: none;
    color : rgb(216, 216, 216);
    cursor: pointer;
}

header nav ul li:hover{
    border-bottom: 2px solid white;
}